/*Store this code in 'style.css' file inside the 'static' folder*/

logincontent{
	margin: 0 auto;
	height: 500px;
	width: 400px;
	background-color: #361b2c;
	border-radius: 10px;
}

.registercontent{
	margin: 0 auto;
	height: 800p;
	width: 400px;
	background-color: #e6ffee;
	border-radius: 10px;
}

.logintop{
	height: 60px;
	width: 400px;
	background-color: #009933;
	color: #ffffff;
}

.registertop{
	height: 0px;
	width: 400px;
	background-color: #009933;
	color: #ffffff;
}

.textbox{
	padding: 10px 40px;
	background-color: #009933;
	border-radius: 10px;
}

::placeholder {
	color: #FFFFFF;
	opacity: 1;
	font-style: oblique;
	font-weight: bold;
}

.btn {
	padding: 10px 40px;
	background-color: #009933;
	color: #FFFFFF;
	font-style: oblique;
	font-weight: bold;
	border-radius: 10px;
}

.worddark{
	background-color: #adbab1;
	font-style: oblique;
	font-weight: bold;
}

.wordlight{
	color: #FFFFFF;
	font-style: oblique;
	font-weight: bold;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}