{% extends 'reporte.html' %}

{% block content %}

<h1>Estudiantes</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Nivel Academico</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cesar Ignacio</td>
        <td>Villareal Marin</td>
        <td>Inicial</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ramon Jose</td>
        <td>Hernandez Godoy</td>
        <td>Inicial</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Juan Jose</td>
        <td>Perez Urrutia</td>
        <td>Inicial</td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>Maria Gabriela</td>
        <td>Teran Benitez</td>
        <td>Inicial</td>
      </tr>

    </tbody>
  </table>
{% endblock %}