{% extends "reporte.html" %}

{% block content %}
<h1>Estudiantes</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Nivel Academico</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>David Rafael</td>
        <td>urrutia Duran</td>
        <td>Tercer Grado</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Rismar Alexandra</td>
        <td>Delgado Dominguez</td>
        <td>Tercer Grado</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Daniel Alejandro</td>
        <td>Graterol Vizcalla</td>
        <td>Tercer Grado</td>
      </tr>

    </tbody>
  </table>
{% endblock %}