{% extends "reporte.html" %}

{% block content %}
<h1>Estudiantes</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Nivel Academico</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Maria Alejandra</td>
        <td>Garcia Lopez</td>
        <td>Segundo Grado</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Diego Alejandro</td>
        <td>Gonzales Rogriguez</td>
        <td>Segundo Grado</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Virginia Maria</td>
        <td>Viloria Cumana</td>
        <td>Segundo Grado</td>
      </tr>

    </tbody>
  </table>
{% endblock %}