{% extends "reporte.html" %}

{% block content %}
<h1>Estudiantes</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Nivel Academico</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Pedro Ismael</td>
        <td>Mendoza Gil</td>
        <td>Primer Grado</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Maria Isabel</td>
        <td>Rogriguez Benitez</td>
        <td>Primer Grado</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Juan Jose</td>
        <td>Camacho Hernandez</td>
        <td>Primer Grado</td>
      </tr>

    </tbody>
  </table>
{% endblock %}